
body {
  margin: 0;
  padding: 10px;
  background-color: aliceblue;
  font-family: 'Poppins', sans-serif;
}
nav {
  position: absolute;
  right: 50px;
}
#register-link { 
  font-size: 20px;
  color: blue;
  margin-right: 10px;
  text-decoration: none;
}
#register-link:hover {
  color: #2980b9;
}
#login-link {
  font-size: 20px;
  color: blue;
  text-decoration: none;
}
#login-link:hover {
  color: #2980b9;
}
img {
  border-radius: 20px;
}

.btn {
  position: absolute;
  right: 100px;
  margin-top: 10px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, blue);
  background-image: -moz-linear-gradient(top, #3498db, blue);
  background-image: -ms-linear-gradient(top, #3498db, blue);
  background-image: -o-linear-gradient(top, #3498db, blue);
  background-image: linear-gradient(to bottom, #3498db, blue);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #2980b9;
  background-image: -webkit-linear-gradient(top, #2980b9, #34d9d9);
  background-image: -moz-linear-gradient(top, #2980b9, #34d9d9);
  background-image: -ms-linear-gradient(top, #2980b9, #34d9d9);
  background-image: -o-linear-gradient(top, #2980b9, #34d9d9);
  background-image: linear-gradient(to bottom, #2980b9, #34d9d9);
  text-decoration: none;
}
.back {
  text-decoration: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}
.back:hover {
  background-color: #2980b9;
}
.registration {
  width: 60%;
  margin: auto;
 padding: 20px;
  line-height: 1.5;
  margin-top: 20px;
  background: white;
  border-radius: 25px;
}
.login-form {
  max-width: 50%;
  margin: auto;
  padding: 30px;
  line-height: 1.5;
  margin-top: 60px;
  background: white;
  border-radius: 25px;
}
#l-email, #l-password { 
  line-height: 2;
}
#sign-in {
  position: relative;
  left: 80%;
  line-height: 2;

}
.contact-form {
  background-color: white;
  max-width: 50%;
  margin: 80px auto;
  padding: 20px;
  border-radius: 20px;
  font-weight: bold;
}
#Name, #email, #message {
  line-height: 1.5;
}

#submit, .r-btn {
  position: relative;
  left: 78%;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: black;
  color: white;
}
#submit:hover, .r-btn:hover  {
  background-color: #2980b9;
}
label {
  font-weight: bold;
}
@media (max-width: 768px) {
    .contact-form, .login-form, .registration {
display: flex;
flex-direction: column;
}
}